process.scratch = false
singularity.pullTimeout = "2h"

// submit all processes to week queue
process {
  withName: /.+/ {
    queue = 'week'
  }
  withName: 'COUNT_READS_FASTQ' {
    errorStrategy = 'terminate'
  }
}

// fix singularity container options
profiles {
  singularity {
    process.containerOptions = "--env LOCAL=true --env SENTIEON_LICENSE_SERVER=${baseDir}/sentieon_eval.lic --bind ${baseDir}/sentieon_eval.lic:${baseDir}/sentieon_eval.lic --bind /nfs/casm/team268im/at31/projects/hashimoto_thyroiditis/bin/basejumper/v1.0.5/:/usr/local/my_bin/"
  }
}

// TWIST immune panel
params {
    genomes {
      'GRCh38' {
        'TWIST_immune' {
          wgs_or_target_intervals = '/nfs/casm/team268im/at31/projects/hashimoto_thyroiditis/out/twist/Probes_merged_ok_combined_Sanger_Immune-v1_TE-91661256_hg38.interval_list'
          calling_intervals_filename = '/nfs/casm/team268im/at31/projects/hashimoto_thyroiditis/out/twist/Probes_merged_ok_combined_Sanger_Immune-v1_TE-91661256_hg38.interval_list'
          vcfeval_bed_regions = '/nfs/casm/team268im/at31/projects/hashimoto_thyroiditis/out/twist/Probes_merged_ok_combined_Sanger_Immune-v1_TE-91661256_hg38.bed'
        }
      }
    }
}